/* HEADER */
.nav-bar {
    background-color: var(--bg-color-background-header);
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text {
    padding-left: 120px;
    height: 30px;
    width: 100px;
}

.navigation {
    padding-right: 40px;
    height: 60px;
    width: 60px;
}
/* MAIN  */
.main-section {
    min-height: 100vh;
}

.header-section {
    position: relative;
    height: 300px;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-section {
    position: relative;
    padding-top: 100px;
    text-align: center;
}

.logo-container {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}

.restaurant-logo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.headling-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.burger-orange {
    font-family: 'Palanquin Dark';
    color: var(--bg-color-background-header);
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 48px;
    font-weight: bold;
}

.burger-black {
    font-family: 'Palanquin Dark';
    color: var(--bg-color-text-h1-color);
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 48px;
    font-weight: bold;
}

.rating-img {
    padding-top: 10px;
    width: 100px;
    height: 28px;
}

.p-headling-p-element {
    font-family: 'Palanquin';
    color: var(--bg-color-text-color);
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    padding-bottom: 70px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 2px;
}

.content {
    width: 100%;
}

.basket-wrapper {
    position: fixed;
    top: 450px;
    right: 0;
    

    width: 430px;
    height: 790px;

    background-color: var(--bg-color-text-color);
    border-radius: 20px 0 0 20px;

    z-index: 2;
    overflow-y: auto;
}

.basket {
    width: 100%;
    height: 500px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-basket {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-basket-content);
    border-radius: 20px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.menu-text-basket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-text-basket > p {
    color: var(--bg-color-text-color);
    font-size: 20px;
    font-family: 'Palanquin';     
    line-height: 120%;
    letter-spacing: 0%;
}

.menu-text-basket > button {
    background: none;
    border: none;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.menu-price-basket{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.menu-button-basket {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.menu-button-basket > button {
    background: none;
    border: none;
    color: var(--bg-color-text-color);
    font-size: 24px;
    font-family: 'Palanquin';     
    line-height: 120%;
    letter-spacing: 0%;
}

.menu-button-basket > p {
    color: var(--bg-color-text-color);
    font-size: 20px;
    font-family: 'Palanquin';     
    line-height: 120%;
    letter-spacing: 0%
}

.content-price-basket {
    color: var(--bg-color-text-color);
    font-size: 20px;
    font-family: 'Palanquin';     
    line-height: 120%;
    letter-spacing: 0%
}

.basket-content {
    width: 300px;
}

.subtotal-content, .delivery-content, .total-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.basket-content > h2 {
    color: var(--bg-color-basket);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 32px;
    font-family: 'Palanquin';
    font-style: bold;
    line-height: 120%;
    letter-spacing: 0%;
}

.price-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.white-line {
    border: 2px white solid;
    width: 100%;

}

.subtotal-content, .delivery-content, .total-content > p{
    color: var(--bg-color-h2-color);
    font-size: 20px;
    font-family: 'Palanquin';     
    line-height: 120%;
    letter-spacing: 0%;
}

.button-basket {
    border-radius: 20px;
    background-color: var(--bg-color-background-header);
    color: var(--bg-color-h2-color);
    width: 320px;
    height: 64px;
    font-size: 32px;
    font-family: 'Palanquin';     
    font-weight: 700;
    margin-top: 25px;
}

.burger-headline,
.pizza-headline,
.salad-headline {
    position: absolute;
    top: -30%;

    width: 100%;
    max-width: 1200px;

    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 30px;

    padding-left: 300px;
}

.burger-headline {  
    top: -45%;
}

/* BURGER */
.burger-section {
    position: relative;
    background-color: var(--bg-color-background-header);
    height: 60px;
}

.burger-headline > h2 {
    font-family: 'Palanquin';
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--bg-color-h2-color);
    font-size: 40px;
}

.burger-headline > h2 > span {
    font-weight: 400;
}

.main-content-burger {
    padding-top: 16px;
    padding-bottom: 50px;
    padding-left: 300px;
    display: flex;
}

.burger-content-main {
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 900px;
    min-height: 150px;
    background-color: var(--bg-basket-content);
}

.main-img-burger {
    flex-shrink: 0;
}

.main-img-burger > img {
    width: 230px;
    height: 130px;
    padding: 10px 5px 10px 10px;
    border-radius: 20px;
    object-fit: cover;
}

.content-burger-text {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px 20px 10px 0;
    gap: 20px;
}

.content-titel-burger {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-width: 0;
}

.content-titel-burger > h2 {
    font-family: 'Palanquin';
    line-height: 120%;
    color: var(--bg-color-text-color);
    font-size: 24px;
    white-space: nowrap;
}

.content-titel-burger > p {
    font-family: 'Palanquin';
    line-height: 120%;
    color: var(--bg-color-text-color);
    font-size: 20px;
}

.content-burger-price {
    width: 160px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    padding-right: 10px;
}

.content-burger-price > p {
    font-family: 'Palanquin';
    line-height: 120%;
    color: var(--bg-color-text-color);
    font-size: 20px;
    font-weight: bold;
}

.content-burger-price > button {
    width: 140px;
    height: 30px;

    background-color: white;
    color: var(--bg-color-text-color);

    font-family: 'Palanquin';
    font-size: 16px;
    font-weight: bold;

    border: none;
    border-radius: 20px;

    cursor: pointer;
    white-space: nowrap;
}

.content-burger-price > button:hover {
    color: var(--bg-color-background-header);
}

/* PIZZA */
.pizza-section {
    position: relative;
    background-color: var(--bg-color-background-header);
    height: 60px;
}

.pizza-headline > h2 {
    font-family: 'Palanquin';
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--bg-color-h2-color);
    font-size: 40px;
}

.pizza-headline > h2 > span {
    font-weight: 400;
}

.main-content-pizza {
    padding-top: 16px;
    padding-bottom: 50px;
    padding-left: 300px;
    display: flex;
}

.pizza-content-main {
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 900px;
    min-height: 150px;
    background-color: var(--bg-basket-content);
}

.main-img-pizza {
    flex-shrink: 0;
}

.main-img-pizza > img {
    width: 230px;
    height: 130px;
    padding: 10px 5px 10px 10px;
    border-radius: 20px;
    object-fit: cover;
}

.content-pizza-text {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px 20px 10px 0;
    gap: 20px;
}

.content-titel-pizza {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-width: 0;
}

.content-titel-pizza > h2 {
    font-family: 'Palanquin';
    line-height: 120%;
    color: var(--bg-color-text-color);
    font-size: 24px;
    white-space: nowrap;
}

.content-titel-pizza > p {
    font-family: 'Palanquin';
    line-height: 120%;
    color: var(--bg-color-text-color);
    font-size: 20px;
}

.content-pizza-price {
    width: 160px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    padding-right: 10px;
}

.content-pizza-price > p {
    font-family: 'Palanquin';
    line-height: 120%;
    color: var(--bg-color-text-color);
    font-size: 20px;
    font-weight: bold;
}

.content-pizza-price > button {
    width: 140px;
    height: 30px;

    background-color: white;
    color: var(--bg-color-text-color);

    font-family: 'Palanquin';
    font-size: 16px;
    font-weight: bold;

    border: none;
    border-radius: 20px;

    cursor: pointer;
    white-space: nowrap;
}

.content-pizza-price > button:hover {
    color: var(--bg-color-background-header);
}

/* SALAD */

.salad-section {
    position: relative;
    background-color: var(--bg-color-background-header);
    height: 60px;
}

.salad-headline > h2 {
    font-family: 'Palanquin';
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--bg-color-h2-color);
    font-size: 40px;
}

.salad-headline > h2 > span {
    font-weight: 400;
}

.main-content-salad {
    padding-top: 16px;
    padding-left: 300px;
    padding-bottom: 50px;
}

.salad-content-main {
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 900px;
    min-height: 150px;
    background-color: var(--bg-basket-content);
}

.main-img-salad {
    flex-shrink: 0;
}

.main-img-salad > img {
    width: 230px;
    height: 130px;
    padding: 10px 5px 10px 10px;
    border-radius: 20px;
    object-fit: cover;
}

.content-salad-text {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px 20px 10px 0;
    gap: 20px;
}

.content-titel-salad {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-width: 0;
}

.content-titel-salad > h2 {
    font-family: 'Palanquin';
    line-height: 120%;
    color: var(--bg-color-text-color);
    font-size: 24px;
    white-space: nowrap;
}

.content-titel-salad > p {
    font-family: 'Palanquin';
    line-height: 120%;
    color: var(--bg-color-text-color);
    font-size: 20px;
}

.content-salad-price {
    width: 160px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    padding-right: 10px;
}

.content-salad-price > p {
    font-family: 'Palanquin';
    line-height: 120%;
    color: var(--bg-color-text-color);
    font-size: 20px;
    font-weight: bold;
}

.content-salad-price > button {
    width: 140px;
    height: 30px;

    background-color: white;
    color: var(--bg-color-text-color);

    font-family: 'Palanquin';
    font-size: 16px;
    font-weight: bold;

    border: none;
    border-radius: 20px;

    cursor: pointer;
    white-space: nowrap;
}

.content-salad-price > button:hover {
    color: var(--bg-color-background-header);
}

/* FOOTER */
.footer-section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 72px;
    padding-bottom: 30px;
    
    margin-bottom: 0;
    background-color: var(--bg-color-background-header);
    height: 128px;
}

.a-tag {
    text-decoration: none;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--bg-color-h2-color);
    font-family: 'Palanquin';
}

@media screen and (min-width: 1440px){
    .nav-bar{
        padding-left: max(calc(50% - 720px), 160px);
        padding-right: max(calc(50% - 720px), 160px);
    }

    .header-section {
        padding-left: max(calc(40% - 720px), 160px);
        padding-right: max(calc(40% - 720px), 160px);
    }

    .info-section {
        padding-left: max(calc(50% - 720px), 160px);
        padding-right: max(calc(50% - 720px), 160px);
    }

   .burger-headline {
        padding-left: max(calc(50% - 720px), 160px);
        padding-right: max(calc(50% - 720px), 160px);
   }

   .pizza-headline {
        padding-left: max(calc(50% - 720px), 160px);
        padding-right: max(calc(50% - 720px), 160px);
   }

   .salad-headline {
        padding-left: max(calc(50% - 720px), 160px);
        padding-right: max(calc(50% - 720px), 160px);
   }

    .footer-section {
        padding-left: max(calc(50% - 720px), 160px);
        padding-right: max(calc(50% - 720px), 160px);
    }
}